{% extends 'menu/index.html.twig' %}

{% block title %}Sociétés{% endblock %}

{% block body %}
<div class="barre_top rounded shadow mb-5">
    <div class="w-100 border-bottom pt-2 px-3">
        <h4 class="text-uppercase entete_page text-black">Liste des sociétés</h4>
    </div>
    <div class="container-fluid content_list overflow-auto px-3 pt-3">
        <div class="table-responsive">
            <table class="table table-bordered table-sm">
                <thead class="thead-dark">
                    <tr class="align-middle">
                        <th>Nom</th>
                        <th>Région</th>
                        <th class="text-center">Comptes autorisés</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody> 
                    {% for agence in agences %}
                        <tr class="align-middle">
                            <td>{{agence.nom}}</td>
                            <td>{{agence.region}}</td>
                            <td class="text-center">{{agence.capacite}}</td>
                            <td class="text-right px-3">
                                <button class="btn btn-outline-info btn-sm font-smaller"><i class="fa fa-edit"></i>&nbsp;Afficher</button>
                                <button class="btn btn-perso-one btn-sm ml-2 font-smaller"><i class="fa fa-users"></i>&nbsp;Agents</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
