<div class="text-left">
    <div class="row mt-1">
        <div class="col-4">
            <label for="home_user_mdp" class="mt-2 font-weight-bold">Mot de passe</label>
            <input type="password" name="home_user_mdp" id="home_user_mdp" class="form-control" placeholder=". . .">
        </div>
        <div class="col-1">
            <label for="home_user_mdp" class="mt-2 font-weight-bold">&nbsp;</label>
            <button type="button" data-target="#home_user_mdp" class="btn disp_mdp btn-outline-dark btn-block font-weight-bold"><i class="fa fa-eye-slash"></i></button>
        </div>
        <div class="col-4">
            <label for="home_user_confirm" class="mt-2 font-weight-bold">Confirmer mot de passe</label>
            <input type="password" name="home_user_confirm" id="home_user_confirm" class="form-control" placeholder=". . .">
        </div>
        <div class="col-1">
            <label for="home_user_mdp" class="mt-2 font-weight-bold">&nbsp;</label>
            <button type="button" data-target="#home_user_confirm" class="btn disp_mdp btn-outline-dark btn-block font-weight-bold"><i class="fa fa-eye-slash"></i></button>
        </div>
        <div class="col-2">
            <label for="home_user_mdp" class="mt-2 font-weight-bold">&nbsp;</label>
            <button type="button" class="btn btn_annule_mdp btn-dark btn-block btn-sm font-weight-bold"><i class="fa fa-times"></i>&nbsp;Annuler</button>
        </div>
    </div>
    <div class="w-100">
        <div class="alert alert-info alert_pass mt-2">
            <ul class="list-unstyled">
                <li><i class="fa fa-info-circle"></i>&nbsp;Le mot  de passe doit contenir au minimum 8 caractères, à savoir : </li>
                <li>Au moins une lettre minuscule,</li>
                <li>Une lettre majuscule,</li>
                <li>Un caractère spécial,</li>
                <li>Un chiffre,</li>
            </ul>
        </div>
    </div>
</div>