{% extends 'menu/index.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
<h2>Tableau de bord</h2>
{# <div class="w-100 text-center">
    <img src="{{asset('data/images/loading.svg')}}" alt="" >
    <h5>Mise à jour en cours . . .</h5>
</div> #}

{% endblock %}
