<h5 class="title_form text-black text-uppercase">Détails des dépenses</h5>
<div class="row">
    <div class="col-md-5">
        <label for="dep_details_designation" class=" font-weight-bold">Désignation</label>
        <div id="contentLibelle">
            <div class="row">
                <div class="col-md-9">
                    <select name="dep_details_designation" class="custom-select chosen_select custom-select-sm" id="dep_details_designation">
                        <option value="">-</option>
                        {% for libelle in libelles %}
                            <option value="{{libelle.id}}">{{libelle.nom|upper}}</option>
                        {% endfor %}
                    </select>
                    <input type="hidden" name="add_new_designation" id="add_new_designation" value="NON" >
                </div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-sm dep_new_libelle btn-primary btn-block"><i class="fa fa-plus-square"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <label for="dep_details_quantite" class=" font-weight-bold">Quantité</label>
        <input type="number" step="any" name="dep_details_quantite" id="dep_details_quantite" class="form-control" placeholder=". . .">
    </div>
    <div class="col-md-3">
        <label for="dep_details_prix" class=" font-weight-bold">Prix Unitaire</label>
        <input type="number" step="any" name="dep_details_prix" id="dep_details_prix" class="form-control" placeholder=". . .">
    </div>
    <div class="col-md-2">
        <label for="nom" class=" font-weight-bold">&nbsp;</label>
        <button type="button" class="btn btn-block dep_details_ajouter btn-sm btn-success text-uppercase"><i class="fa fa-plus-square"></i>&nbsp;Ajouter</button>
    </div>
</div>