.fixed_height
{
    height: 15px;
}

.height_box
{
    height: 75px ;
}

.shadow_bottom
{
    box-shadow: 0 2px 2px #c8c7c7 ;
}

.toggleIcon i
{
    transition: 1s;
}

.rotateIcon
{
    transform: rotate(360deg);
}
