<div class="row">
    <div class="col-md-3">
        <label for="prest_ctr_clt_nom" class="font-weight-bold">Nom Locataire</label>
        <input type="text" name="prest_ctr_clt_nom" id="prest_ctr_clt_nom" oninput="this.value = this.value.toUpperCase();" class="form-control" placeholder=". . .">
        <input type="hidden" name="prest_ctr_clt_nouveau" id="prest_ctr_clt_nouveau" value="OUI">
    </div>
    <div class="col-md-3">
        <label for="prest_ctr_clt_telephone" class="font-weight-bold">Téléphone</label>
        <input type="text" name="prest_ctr_clt_telephone" id="prest_ctr_clt_telephone" class="form-control" placeholder=". . .">
    </div>
    <div class="col-md-3">
        <label for="prest_ctr_clt_adresse" class="font-weight-bold">Adresse</label>
        <input type="text" name="prest_ctr_clt_adresse" id="prest_ctr_clt_adresse" oninput="this.value = this.value.toUpperCase();" class="form-control" placeholder=". . .">
    </div>
    <div class="col-md-3">
        <label for="prest_ctr_clt_email" class="font-weight-bold">Email</label>
        <input type="email" name="prest_ctr_clt_email" id="prest_ctr_clt_email" class="form-control" placeholder=". . .">
    </div>
    <div class="col-md-3">
        <button type="button" class="btn btn-sm btn-info btn-block mt-3" id="prest_ctr_exist_loctr"><i class="fa fa-users"></i>&nbsp;Existant</button>
    </div>
</div>