.caisse_perso_btn
{
    width: 60px;
    height: 45px;
    font-size: 1.3em;
}

.w-20
{
    width: 20% ;
}
.w-05
{
    width: 5% ;
}
.w-10
{
    width: 10% ;
}
.w-15
{
    width: 15% ;
}

.w-12
{
    width: 12% ;
}

.image_produit
{
    height: 50px;
    width: 50px;
    object-fit: cover;
}

#caisse_search_produit option:hover
{
    color: black !important;
}