<div class="row">
    <div class="col-md-4">
        <label for="nouveau_mot_de_passe" class="mt-3 font-weight-bold">Nouveau mot de passe</label>
        <div class="d-flex flex-row align-items-center">
            <input type="password" name="nouveau_mot_de_passe" id="nouveau_mot_de_passe" class="form-control" placeholder=". . .">
            <span class="pl-2 pt-1 h5 text-secondary displayPass">
                <i class="fa fa-eye"></i>
            </span>
        </div>
    </div>
    <div class="col-md-4">
        <label for="confirm_mot_de_passe" class="mt-3 font-weight-bold">Confirmer mot de passe</label>
        <div class="d-flex flex-row align-items-center">
            <input type="password" name="confirm_mot_de_passe" id="confirm_mot_de_passe" class="form-control" placeholder=". . .">
            <span class="pl-2 pt-1 h5">
                <i class="fa fa-info-circle text-secondary"></i>
            </span>
        </div>
    </div>
</div>
<div class="w-100">
    <div class="alert alert-info alert_pass mt-3">
        <ul class="list-unstyled">
            <li><i class="fa fa-info-circle"></i>&nbsp;Le mot  de passe doit contenir au minimum 8 caractères, à savoir : </li>
            <li>Au moins une lettre minuscule,</li>
            <li>Une lettre majuscule,</li>
            <li>Un caractère spécial,</li>
            <li>Un chiffre,</li>
        </ul>
    </div>
</div>