table.lightgrey-weekends tbody td:nth-child(1){
    background-color: #ecb534;
  }
  table.lightgrey-weekends tbody td:nth-child(1):hover{
    color: var(--dark) ; 
  }
  .zabuto-calendar.table thead th {
    background-color: var(--dark);
    color: var(--white);
  }

  #monCalendrier table
  {
    min-height: 550px !important;
  }

.lh-2
{
    line-height: 25px !important;
}

.agdDisplayDate
{
  width: 400px !important;
}

@media only screen and (max-width: 375px) {
  .agdDisplayDate {
      width: 90% !important; /* Customize the width for smaller screens */
  }
}


@media only screen and (max-width: 900px) {
  .agdDisplayDate {
      width: 300% !important; /* Customize the width for smaller screens */
  }
}
.jconfirm .jconfirm-box div.jconfirm-title-c {
  padding-bottom: 0 !important;
}

.jconfirm.jconfirm-modern .jconfirm-box div.jconfirm-title-c{
  margin-bottom: 0 !important;
}