<div class="row">
    <div class="col-md-9">
        <select name="prod_type" class="custom-select chosen_select custom-select-sm" id="prod_type">
            <option value="NA">NON ASSIGNEE</option>
            {% for type in types %}
                <option value="{{type.id}}">{{type.nom|upper}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-md-3">
        <input type="hidden" name="add_new_type" value="NON" id="add_new_type">
        <button type="button" class="btn btn-sm prd_new_type btn-primary btn-block"><i class="fa fa-plus-circle"></i></button>
    </div>
</div>
<script>
    $(".chosen_select").chosen({
            no_results_text: "Aucun resultat trouvé : "
        });
</script>