<div class="row">
    <div class="col-md-9">
        <input type="text" name="prod_type" oninput="this.value = this.value.toUpperCase();" id="prod_type" class="form-control" placeholder=". . .">
        <input type="hidden" name="add_new_type" id="add_new_type" class="form-control" value="OUI">
    </div>
    <div class="col-md-3">
        <button type="button" class="btn btn-sm prd_existing_type btn-purple btn-block"><i class="fa fa-layer-group"></i></button>
    </div>
</div>