<label for="fact_btp_designation" class="mt-2 font-weight-bold">Nouvelle Désignation</label>
<div class="w-100 d-flex flex-row">
    <input type="text" oninput="this.value = this.value.toUpperCase();" name="fact_btp_designation" id="fact_btp_designation" class="form-control" placeholder=". . .">
    <button type="button" data-value="EXIST" class="btn font-weight-bold btn_designation_plus font-smaller btn-warning btn-sm ml-2" style="width: 50px; height: 33px;"><i class="fa fa-layer-group"></i></button>
</div>