<style>
    .forme_image
    {
        width: auto;
    }

    .form_flex
    {
        min-height: 170px !important;
    }
    .text-center
    {
        text-align: center !important ;
    }
    .forme_contenu_editor
    {
        width: 100% ;
        line-height: 19px;
        padding: 10px ;
    }
    .text-left
    {
        text-align: left !important ;
    }
    .bloc_1
    {
        position: absolute ;
        top: 0 ; 
        left: 0 ;
    }

    .bloc_2
    {
        position: absolute ;
        top: 0 ; 
        left: 370 ;
    }
</style>
<div class="form_flex">
    {# <div class="text-center">
        <div class="forme_image">
            {{imageContentLeft}}
        </div>
    </div> #}
    <div class="forme_contenu_editor bloc_1">
        {{textContentEditor|raw}}
    </div>
    <div class="text-left bloc_2">
        <div class="forme_image">
            {{imageContentRight|raw}}
        </div>
    </div>
</div>