<style>
    .forme_image_left
    {
        width: auto;
    }

    .form_flex
    {
        display: flex;
        flex-direction : column;
        align-items: center ;
    }
    .text-center
    {
        text-align: center !important ;
    }
    .forme_contenu_editor
    {
        width: 100% ;
        line-height: 19px;
        padding: 10px ;
    }
    .ml-auto
    {
        margin-left: auto !important;
    }
    .text-left
    {
        text-align: left !important ;
    }
</style>
<div class="text-left">
    <div class="forme_image">
        {{imageContentLeft|raw}}
        <div class="forme_contenu_editor">
            {{textContentEditor|raw}}
        </div>
    </div>
</div>
