<style>
    {# .forme_image img
    {
        object-fit: cover ;
    } #}
    .form_flex
    {
        min-height: 180px !important;
    }
    .text-center
    {
        text-align: center !important ;
    }
    .text-left
    {
        text-align: left !important ;
    }
    .forme_contenu_editor
    {
        width: 100% ;
        line-height: 19px;
        padding: 10px ;
    }
    .ml-auto
    {
        margin-left: auto !important;
    }

    .bloc_1
    {
        position: absolute ;
        top: 0 ; 
        left: 0 ;
        transform: translateX(-30px) translateY(-30px);
    }

    .bloc_2
    {
        position: absolute ;
        top: 0 ; 
        left: 390 ;
        transform: translateX(15px) translateY(-30px);
    }
</style>
<div class="form_flex">
    <div class="text-left bloc_1">
        <div class="forme_image">
            {{imageContentLeft|raw}}
            <div class="forme_contenu_editor">
                {{textContentEditor|raw}}
            </div>
        </div>
    </div>
    <div class="text-left bloc_2">
        <div class="forme_image">
            {{imageContentRight|raw}}
        </div>
    </div>
</div>
