{% extends 'menu/index.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
{# <div class="w-100 text-center">
    <img src="{{asset('data/images/loading.svg')}}" alt="" >
    <h5>Mise à jour en cours . . .</h5>
</div> #}
<div class="row">
    <div class="col-md-4">
        <div class="border  w-100 rounded p-5">
            Total Agence <br>
            15
        </div>
    </div>
    <div class="col-md-4">
        <div class="border w-100 rounded p-5">
            Total Agence <br>
            15
        </div>
    </div>
    <div class="col-md-4">
        <div class="border w-100 rounded p-5">
            Total Agence <br>
            15
        </div>
    </div>
</div>
{% endblock %}
