<div class="row">
    <div class="col-md-9">
        <input type="text" name="dep_details_designation" oninput="this.value = this.value.toUpperCase();" id="dep_details_designation" class="form-control" placeholder=". . .">
        <input type="hidden" name="add_new_designation" id="add_new_designation" class="form-control" value="OUI">
    </div>
    <div class="col-md-3">
        <button type="button" class="btn btn-sm dep_existing_libelle btn-purple btn-block"><i class="fa fa-layer-group"></i></button>
    </div>
</div>