<div class="row">
    <div class="col-md-9">
        <input type="text" name="dep_service" oninput="this.value = this.value.toUpperCase();" id="dep_service" class="form-control" placeholder=". . .">
        <input type="hidden" name="add_new_service" id="add_new_service" class="form-control" value="OUI">
    </div>
    <div class="col-md-3">
        <button type="button" class="btn btn-sm dep_existing_service btn-purple btn-block"><i class="fa fa-layer-group"></i></button>
    </div>
</div>