<span>Société : <span style="font-weight: bold ;">{{agence.nom|upper}}</span></span><br>
<span>Adresse : <span style="font-weight: bold ;">{{agence.adresse|upper}}</span></span><br>
<span>Région : <span style="font-weight: bold ;">{{agence.region|upper}}</span></span><br>
<span>Téléphone : <span style="font-weight: bold ;">{{agence.telephone}}</span></span><br>
