<span>Société : <span class="font-weight-bold">{{agence.nom|upper}}</span></span><br>
<span>Adresse : <span class="font-weight-bold">{{agence.adresse|upper}}</span></span><br>
<span>Région : <span class="font-weight-bold">{{agence.region|upper}}</span></span><br>
<span>Téléphone : <span class="font-weight-bold">{{agence.telephone}}</span></span><br>
