{% extends 'menu/index.html.twig' %}

{% block title %}Consultation Catégorie{% endblock %}

{% block body %}
    <h2>Editer le fichier dans : templates/stock/categorie/consultation.html.twig</h2>
{% endblock %}
  