{# {% for produitEntrepot in produitEntrepots %}
    <div class="d-flex flex-row w-100 py-1 border-bottom justufy-content-center text-uppercase">{{produitEntrepot.nom}}<button class="btn ml-auto btn-sm btn-outline-success px-2 font-smaller"><i class="fa fa-check"></i></button></div>
{% endfor %} #}
