.Editor-editor
{
    min-height: 100px !important;
}

.config-editor
{
    border: 2px dashed lightgrey ;
    padding: 10px 20px;
    min-height: 100px;
}

.none-editor
{
    padding: 10px 20px;
    min-height: 100px;
}