<div class="col-md-4">
    <label for="fact_client" class="font-weight-bold text-uppercase">Client*</label>
    <select name="fact_client" class="custom-select chosen_select fact_client custom-select-sm" id="fact_client">
        <option value="">-</option>
        {% for client in clients %}
            <option value="{{client.id}}">{{client.nom|upper}}</option>
        {% endfor %}
    </select>
</div>
<div class="col-md-2">
    <label for="" class="font-weight-bold text-uppercase">&nbsp;</label>
    <button type="button" class="btn btn-sm btn-primary btn-block fact_new_client"><i class="fa fa-plus-square"></i></button>
    <input type="hidden" name="fact_nouveau_client" id="fact_nouveau_client" value="NON">
</div>
<script>
    $(".chosen_select").chosen({
            no_results_text: "Aucun resultat trouvé : "
        });
</script>