<div class="col-md-2">
    <label for="clt_type" class="font-weight-bold text-uppercase">Statut Client</label>
    <select name="clt_type" class="custom-select chosen_select custom-select-sm" id="clt_type">
        <option value="">-</option>
        {% for type in types %}
            <option value="{{type.id}}">{{type.nom|upper}}</option>
        {% endfor %}
    </select>
</div>
<div class="col-md-3">
    <label for="fact_client" class="font-weight-bold text-uppercase">Nom Client/Société</label>
    <input type="fact_client" name="fact_client" id="fact_client" class="form-control" placeholder=". . .">
</div>
<div class="col-md-3">
    <label for="fact_clt_adresse" class="font-weight-bold">Adresse</label>
    <input type="text" name="fact_clt_adresse" id="fact_clt_adresse" class="form-control" placeholder=". . .">
</div>
<div class="col-md-2">
    <label for="fact_clt_telephone" class="font-weight-bold">Téléphone</label>
    <input type="text" name="fact_clt_telephone" id="fact_clt_telephone" class="form-control" placeholder=". . .">
</div>
<div class="col-md-2">
    <label for="" class="font-weight-bold text-uppercase">&nbsp;</label>
    <button type="button" class="btn btn-sm btn-purple btn-block fact_existing_client"><i class="fa fa-layer-group"></i></button>
    <input type="hidden" name="fact_nouveau_client" id="fact_nouveau_client" value="OUI">
</div>
<script>
    $(".chosen_select").chosen({
        no_results_text: "Aucun resultat trouvé : "
    });
</script>