{% extends 'menu/index.html.twig' %}

{% block title %}Approvisionnement{% endblock %}

{% block body %}
    <h2>Editer le fichier dans : templates/stock/stockinterne/approvisionnement.html.twig</h2>
{% endblock %}
  