{% extends 'menu/index.html.twig' %}

{% block title %}Entrée/Sortie{% endblock %}

{% block body %}
    <h2>Editer le fichier dans : templates/stock/stockinterne/entreesortie.html.twig</h2>
{% endblock %}
  