<div class="row">
    <div class="col-md-9">
        <select name="int_materiel_libelle" class="custom-select custom-select-sm chosen_select" id="int_materiel_libelle">
            {% for libelle in libelles %}
                <option value="{{libelle.id}}">{{libelle.nom | upper}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-md-3">
        <input type="hidden" name="int_materiel_add_libelle" value="NON">
        <button type="button" class="btn btn-sm btn-primary int_new_libelle btn-block"><i class="fa fa-plus-circle"></i></button>
    </div>
</div>
<script>
    $(".chosen_select").chosen({
            no_results_text: "Aucun resultat trouvé : "
        });
</script>