<div class="row">
        <div class="col-md-9">
            <input type="text" name="int_materiel_libelle" id="int_materiel_libelle" oninput="this.value = this.value.toUpperCase();" class="form-control" placeholder=". . .">
        </div>
        <div class="col-md-3">
            <input type="hidden" name="int_materiel_add_libelle" value="OUI">
            <button type="button" class="btn btn-sm btn-purple int_existing_libelle btn-block"><i class="fa fa-layer-group"></i></button>
        </div>
    </div>