.qr_block img
{
    height: 135px ;
}

.unite_produit
{
    margin-top: 19px;
}

.content_product
{
    background-color: #555 ;
    color: white !important;
    font-size: small;
}

.annule_product
{
    transition: .1s;
}

.annule_product:hover
{
    color: #ecb534 !important;
    cursor: pointer;
}

.image_categorie
{
    height: 200px ;
    object-fit: cover ;
}

.table_img_cat
{
    width: 45px;
    height: 45px;
    object-fit: cover;
}

