<div class="row">
    <div class="col-md-9">
        <input type="text" name="prod_nom" oninput="this.value = this.value.toUpperCase();" id="prod_nom" class="form-control" placeholder=". . .">
    </div>
    <div class="col-md-3">
        <button type="button" class="btn btn-sm prd_existing_designation btn-purple btn-block"><i class="fa fa-layer-group"></i></button>
    </div>
</div>
