<div class="row">
    <div class="col-md-7">
        {# <input type="number" name="code_produit" id="code_produit" class="form-control code_produit" placeholder=". . ."> #}
        <input type="text" name="code_produit" oninput="this.value = this.value.toUpperCase();" id="code_produit" class="form-control code_produit" value="{{numCodeScan}}" >
        {# <input type="number" name="code_produit" readonly id="code_produit" class="form-control code_produit" value="{{numCodeScan}}" > #}
    </div>
    <div class="col-md-5">
        <button type="button" class="btn btn-sm btn-primary btn-block" id="stock_nouveau_code_scan"><i class="fa fa-edit"></i>&nbsp;Editer</button>
    </div>
</div>