<div class="row">
    <div class="col-md-7">
        <input type="number" name="code_produit" id="code_produit" class="form-control code_produit" placeholder=". . .">
    </div>
    <div class="col-md-5">
        <button type="button" class="btn btn-sm btn-success btn-block" id="stock_generer_code_scan"><i class="fa fa-qrcode"></i>&nbsp;<i class="fa fa-barcode"></i>&nbsp;Générer</button>
    </div>
</div>