.profil_image
{
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.nav-pills .nav-link {
    border-radius: 0.25rem;
    box-shadow: none !important;
    background-color: transparent;
    border: none;
  }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
color: #fff;
background-color: #ecb534 !important;
}
.profil
{
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: top center !important;
}

#sidebarCollapse
{
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.logo_header
{
    width: 90px;
    height: auto;
    object-fit: cover;
}

.barre_top
{
    border-top : 5px solid grey ;                                                                           
}

.text-black
{
    color: #3d3c3c  !important;
}

.entete_page
{
    font-size: 1.1em;
    font-weight: 700;
    letter-spacing: 1px;
}

.title_form
{
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 1px;
}

.badge_pass
{
    font-size : 0.9em !important; 
    border-radius: 20px ;
}
.alert_pass
{
    font-size : 1em !important; 
}
.barre_dashed
{
    border-top : 2px dashed grey ; 
}

.border_bottom
{
    border-bottom : 2px dashed var(--gray-dark) ; 
}

.border_dark
{
    border-color: var(--gray-dark) !important;
}
.content_list
{
    max-height: 300px !important;
}

/* .list_menu
{
    line-height: 20px;
} */

.list_menu li
{
    letter-spacing: 1px;
    cursor: pointer;
    font-size: 0.85em;
    transition: .3s;
}

.list_item_menu li
{
    letter-spacing: 1px;
    font-size: 0.85em;
    transition: .3s;
}

.list_item_menu li i:hover
{
    color : #ecb534 ;
    font-weight: 800;
    cursor: pointer;
}

/* .list_item_menu li:hover
{
    color : #fff ;
    background-color : grey ;
    border: none;
} */
.list_menu li:hover
{
    color : #fff ;
    background-color : grey ;
    border: none;
}

.oneSociety.active,.oneSociety.active:hover
{
    color : #fff!important;
    background-color : #17a2b8 !important;
    /* border: #17a2b8!important; */
}

/* .menu_item.active
{
    color : #fff ;
    background-color : grey ;
    border: none ;
} */

.accordion-menu a 
{
    font-size: 9.5px !important;
}

.icone_menu
{
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 2.8em;
    padding-top: 30px;
}

.chosen-container-single .chosen-single
{
    padding: 5px 0px 0px 14px !important;
    height: 33px !important;
    background: white !important;
    font-size: 1.1em !important;
}

.chosen-container-single .chosen-single div b
{
    margin-top: 6px !important ;
}

.email_user
{
    font-size: 13px !important;
}

.email_user:hover
{
    color : #ecb534 !important;
}

.table-responsive > .table-bordered
{
    font-size: smaller;
}
.btn-group > .dropdown-menu > li > a
{
    color : black !important ;
    margin-left: 15px !important;
}

.btn-group > .dropdown-menu > li > a:hover
{
    color : #ecb534 !important ;
    background: none !important;
}

.font-smaller
{
    font-size: smaller !important;
}

.font-medium
{
    font-size:medium !important;
}
.alert-purple {
    color: #4b0485;
    background-color: #edacf3;
    border-color: #edacf3; }

.bg-outline-danger
{
    border-color: var(--danger)!important ;
    color: var(--danger) !important ;
}
.bg-outline-success
{
    border-color: var(--success)!important ;
    color: var(--success) !important ;
}
.bg-outline-warning
{
    border-color: var(--warning)!important ;
    color: var(--warning) !important ;
}
.bg-outline-purple
{
    border-color: var(--purple) !important;
    color: var(--purple) !important ;
}
.bg-outline-primary
{
    border-color: var(--primary)!important ;
    color: var(--primary) !important ;
}
.bg-outline-dark
{
    border-color: var(--dark)!important ;
    color: var(--dark) !important ;
}  

.bg-outline-info
{
    border-color: var(--info)!important ;
    color: var(--info) !important ;
}
.bg-purple {
    background-color: var(--purple) !important; }

.limit_tbody
{
    max-height: 360px !important;
}

.load_search
{
    height: 80px;
}

.btn-outline-purple
{
  color: var(--purple);
  border-color: var(--purple);
}

.btn-outline-purple:hover
{
  color: #fff;
  background-color: var(--purple) ;
  border-color: var(--purple) ;
}

.btn-purple
{
  color: white;
  background-color: var(--purple);
  border-color: var(--purple);
}

.btn-purple:hover {
  color: white;
  background-color: var(--indigo);
  border-color: var(--indigo);
}

.content_auto
{
    max-height: 350px !important;
    overflow: auto;
}